

<div class="container bookingBlock " >
    <h1>Movie Bookings</h1>

    <p>{{ tagline }}</p>

    



<div class="media">
  <div class="media-left media-top">
    
      <img class="media-object" src="{{movi.moviPoster}}" alt="{{movi.moviTitle}}">
    
  </div>
  <div class="media-body">
      <h3 >{{movi.moviTitle}}</h3>

            <p>{{movi.moviGenre}}</p>
            <p class="actor">{{movi.moviActors}}</p>
            <p class="">{{movi.moviPlot}}</p>

            <p>
              
             <select id="asnmovicity" name="asnmovicity"  class="form-control" ng-model="selectCity">
                  <option ng-repeat="city in selectList" value="{{city.asnmovicity}}">{{city.asnmovicity}}</option>
                </select>

            </p>

            <p>
              
             <select id="asnmovitheatre" name="asnmovitheatre"  class="form-control" ng-model="selectTheater" ">
                  <option ng-repeat="theater in selectList" value="{{theater.asnmovitheatre}}">{{theater.asnmovitheatre}}</option>
                </select>

            </p>
           
  </div>

  <div>
  
  </div>
</div>

</div>